:root {
    --monitor-color: rgb(177, 173, 173);
}

/* header styles */

body {
    margin: 0;
    font-family: Consolas;
    background: rgba(8, 10, 29, 0.928);
}

main {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-size: 1.4rem;
    width: 100%;
    height: 10%;
    background: rgb(25, 27, 48);
    position: fixed;
    top: 0;
    z-index: 99;
}

#navbar {
    padding-top: 20px;
    
}

#navbar ul {
    margin: 0 auto;
    width: 60%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#navbar ul li {
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(81, 135, 201);
    display: block;
}

#navbar ul li:hover {
    color: rgb(163, 93, 49);
    font-size: 1.5rem;
}

li a {
    position: relative;
    color: inherit;
    text-decoration: none;
}

li a:hover::before {
    content: "<";
    position: absolute;
    left: -12px;
}

li a:hover::after {
    content: ">";
    position: absolute;
    right: -12px;
}

/* welcome screen styles */

h1 {
    top: 20%;
    position: absolute;
    font-size: 2.7rem;
    color: rgb(197, 77, 77);
}

.text {
    top: 50%;
    position: absolute;
    font-size: 2rem;
    color: rgb(163, 93, 49);
}

#welcome-section {
    padding-top: 60px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 60%;
    padding-top: 34%;
    border: 5px solid var(--monitor-color);
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.screen-bottom {
    width: 60%;
    padding-top: 1%;
    border: 5px solid var(--monitor-color);
    background-color: var(--monitor-color);
    border-radius: 0 0 20px 20px;
}

.stand1 {
    width: 8%;
    padding-top: 4%;
    background-color: var(--monitor-color);
}

.stand2 {
    width: 40%;
    padding-top: 1.5%;
    background-color: var(--monitor-color);
    border-radius: 15px 15px 0 0;
}

@media only screen and (max-width: 780px) {
    .text {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 780px) {
    h1 {
        font-size: 2.2rem;
    }
}

/* projects styles */

#projects {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 540px 540px;
    justify-content: center;
}

.project-tile {
    background-color: var(--monitor-color);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 900;
    color: rgb(81, 135, 201);
    height: 370px;
    border-radius: 7px;
}

.project-tile img {
    margin-top: 15px;
    border-radius: 5px;
}

.project-tile a {
    color: inherit;
    text-decoration: none;
}

.project-tile img:hover,
.project-tile a:hover {
    margin-top: 10px;
    color: rgb(197, 77, 77);
}

@media only screen and (max-width: 1020px) {
    #projects {
        grid-template-columns: 540px;
    }
}

/* icon github styles */

.profile-link {
    margin: 50px 0 20px 0;
    text-align: center;
    font-size: 1.8rem;
}

.profile-link a {
    color: var(--monitor-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.profile-link i {
    font-size: 2.5rem;
    margin-right: 0.5rem;
}

.profile-link a:hover {
    font-size: 1.9rem;
    color: rgb(81, 135, 201);
}

/* email styles */

.email {
    margin: 0 0 10px 0;
    font-size: 1rem;
    text-align: center;
}

.email a {
    color: var(--monitor-color);
    text-decoration: none;
}

.email a:hover {
    font-size: 1.1rem;
    color: rgb(81, 135, 201);
}